/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
  }
  .hidden{
    display: none;
  }

:root{
 --colour1: #264653;
 --colour2: #2A9D8F;
 --colour3: #e9c46a47;
 --colour4: #ea8a4482;
 --colour5: #E76F51;
 --colour6: #59C567;
              }

  
  /* Create a flex container to arrange header, container, and footer */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes at least the viewport height */
  }
  
  .header {
    background-color: var(--colour1);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .container {
    flex: 1; /* Allow container to take remaining vertical space */
    padding: 10px;
    background-color: var(--colour3);
  }

  #bookList{ 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 80px;
    padding: 40px
  }
  
  .footer {
    background-color: var(--colour1);
    color: white;
    text-align: center;
    padding: 15px;
  }
  

  
  .button{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--colour2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--colour5) ;
  }


  /* Style for the form */
#addBookForm {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--colour1);
    border: 1px solid #ced4da;
    border-radius: 10px;
    opacity: 97%;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #addBookForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white
  }
  
  #addBookForm input[type="text"],
  #addBookForm input[type="number"],
  #addBookForm input[type="checkbox"] {
  display: block; /* Display each input field as a block element */
  width: 95%; /* Occupy the full width of the form */
  padding: 10px;
  margin: 0 0; /* Center the input fields */
  margin-bottom: 0px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  }
  
  #addBookForm input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0px 0px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--colour2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s ease;
  }
  
  #addBookForm input[type="submit"]:hover {
    background-color: var(--colour5);
  }
  #addBookForm label[type="checkbox"]:hover {
    background-color:black;
  }

  #addBookForm input[type="checkbox"] {
    width: 30px; /* Adjust width to make the checkbox bigger */
    height: 30px; /* Adjust height to make the checkbox bigger */
    margin: 10px 10px 0px 5px; /* Add some spacing between the checkbox and label */
    vertical-align: middle; /* Align the checkbox vertically with the label text */
  }

  

  /* For styling books in library*/

  .book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 22%);
    background-color: var(--colour4);
  }
  button.bookAttributes{  
    margin-top: 20px;
    display: block;
    width: 110%;
    text-align: center;
  }


  button.bookAttributes.bookNotRead{
    background-color: var(--colour2);
  }

  button.bookAttributes.bookNotRead:hover{
    background-color: var(--colour5);
    color: var(--colour2);
  
  }

  button.bookAttributes.bookRead{
    background-color: var(--colour5);
  }

  button.bookAttributes.bookRead:hover{
    background-color: var(--colour2);
    color: var(--colour5);


  }
  
  /* Style for the book attributes */
  .bookAttributes {
    font-family: 'helvetica';
    margin-bottom: 0px;
    font-size: 16px;
  }
  
  /* Style for the title */
  .bookAttributes:first-child {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
  }

  p.bookAttributes:last-child-child {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -10px;
  }
  
  /* Style for the read status */
  .bookRead{
    color: var(--colour2); /* Green color for "Read" */
    font-style: italic;
    
  }

  .bookNotRead{
    color: var(--colour5); /* red color for "not Read" */
    font-style: italic;
  }